.container {
    width: 100%; /* Ví dụ: 600px */
    height: 100%; /* Ví dụ: 800px */
    overflow: auto; /* Cho phép cuộn */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%; /* Tăng chiều cao tối thiểu lên 100% của chiều cao của màn hình */
    min-width: 100%; /* Tăng chiều rộng tối thiểu lên 100% của chiều rộng của màn hình */
    overflow: auto;
    background-color: #000000;
    -webkit-mask-image: linear-gradient(0deg, transparent, transparent 60px, #000000 60px);
    mask-image: linear-gradient(0deg, transparent, transparent 60px, #000000 60px);
}

::-webkit-scrollbar {
    width: 15px; /* Bạn có thể điều chỉnh chiều rộng này */
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #555; /* Màu đen cho phần tự di chuyển của thanh cuộn */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Bạn có thể đặt màu khác khi di chuột qua phần tự di chuyển của thanh cuộn */
}

body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}

