.container {
    width: 100%; /* Ví dụ: 600px */
    height: 100%; /* Ví dụ: 800px */
    overflow: auto; /* Cho phép cuộn */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%; /* Tăng chiều cao tối thiểu lên 100% của chiều cao của màn hình */
    min-width: 100%; /* Tăng chiều rộng tối thiểu lên 100% của chiều rộng của màn hình */
    overflow: auto;
    background-color: #000000;
    -webkit-mask-image: linear-gradient(0deg, transparent, transparent 60px, #000000 60px);
    mask-image: linear-gradient(0deg, transparent, transparent 60px, #000000 60px);
}
body {
    margin: 0;
    background-color: #000000;
}

/* ----------------------------------------------------------------------------------------------------------------------------- */
::-webkit-scrollbar {
    width: 8px; /* Bạn có thể điều chỉnh chiều rộng này */
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #555; /* Màu đen cho phần tự di chuyển của thanh cuộn */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Bạn có thể đặt màu khác khi di chuột qua phần tự di chuyển của thanh cuộn */
}


/* ----------------------------------------------------------------------------------------------------------------------------- */

header {
    background-color: #000;
    padding: 5px;
    height: 50px; 
    border-bottom: 1px solid white;
    display: flex;         
    align-items: center; 
    justify-content: center;
    position: relative; /* Để chứa phần tử có position: absolute */
}

.logo-container {
    position: absolute; /* Đặt logo ra khỏi luồng bố cục thông thường */
    left: 30px; /* Đặt logo sát mép trái */
    top: 50%; 
    transform: translateY(-40%); /* Căn giữa logo theo chiều dọc */
}

#header-logo {
    height: 40px;
}

header nav a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    padding: 0 70px;  
    font-weight: bold;
    font-family: 'Calibri', sans-serif;
    transition: font-size 0.3s;
}

header nav a:hover {
    font-size: 28px;
}

/* ----------------------------------------------------------------------------------------------------------------------------- */
footer {
    background-color: #000;  /* Chọn màu tối hơn cho footer, tùy bạn */
    height: 50px;  
    text-align: center;
    border-top: 0.2px solid white;  /* Sử dụng border-top thay vì border-bottom */
}
footer nav a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    padding: 0 70px;  
    font-weight: bold;
    font-family: 'Calibri', sans-serif;
    transition: font-size 0.1s;
    line-height: 50px;  
    display: inline-block;  
    vertical-align: middle;  
}
footer nav a:hover {
    font-size: 28px;
}
/* ----------------------------------------------------------------------------------------------------------------------------- */
